body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0px;
}

.container {
  display: flex;
}

.hero_container,
.content_container,
.citation_container,
.footer_container,
.signup_container {
  display: flex;
}

.hero_container,
.footer_container {
  background-color: #1f2937;
}

/*Header css*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}
.icon_container {
  display: flex;
  margin-left: 50px;
  margin-right: 50px;
  justify-content: center;
}
ul.header_link {
  display: flex;
  list-style-type: none;
  gap: 25px;
  margin: 0px 50px 0px 50px;
  padding: 10px;
}
li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  color: #f9faf8;
}

/*Hero part*/
.hero_container {
  flex-direction: column;
}
.hero {
  display: flex;
  flex-direction: row;
  margin: 0;
}

.hero_left {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 50px;
}

.hero_right {
  margin: 50px;
}

h1 {
  font-size: 48px;
  font-weight: extra-bold;
  color: #f9faf8;
  margin: 0;
}
p.secondary {
  color: white;
  font-size: 18px;
  color: #f9faf8;
  margin: 10px 0px 10px 0px;
}
button.signup_hero {
  background-color: #3882f6;
  height: 35px;
  width: 100px;
  border-radius: 10px;
}

/*for content part*/
.content_container {
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
h1.info_title {
  font-size: 36px;
  font-weight: extra-bold;
  color: #1f2937;
}

.Offer_container {
  display: flex;
  gap: 20px;
}
.Offer_box {
  display: flex;
  flex-direction: column;
  width: 200px;
  justify-content: space-between;
}

.Offer_box img {
  border: 5px solid #3882f6;
  border-radius: 10px;
}

/* for citation part*/
.citation_container {
  background-color: #e5e7eb;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 50px;
}

.citation_container p {
  font: italic lighter 36px sans-serif;
  color: #1f2937;
}

/*For sign up part(down part)*/
.signup_container {
  margin: 0px;
  padding: 50px;
  justify-content: center;
}

.signup_box {
  display: flex;
  background-color: #3882f6;
  border-radius: 5px;
  padding: 25px;
  width: 800px;
  align-items: center;
  justify-content: space-around;
}

.signup_box_left p {
  color: #f9faf8;
  margin: 5px;
}

.signup_box_right {
  background-color: #3882f6;
  color: white;
  padding: 10px 20px;
  border: 2px solid white;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s;
}

.signup_box_righ:hover {
  background-color: #0056b3;
}

.signup_box_righ:active {
  background-color: #004080;
}
